<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.qtorder.db.FesAddListMapper">
	
	<insert id="insertList" parameterType="kr.qtorder.model.NoticeVO">
		INSERT INTO tb_join_list 
		(list_idx, admin_id, ft_bno, fes_loc_name, fes_name, fes_start, fes_end) 
		VALUES 
		(#{list_idx}, #{admin_id}, #{ft_bno}, #{fes_loc_name}, #{fes_name},  #{fes_start},  #{fes_end});
	</insert>
	
	<select id="selectAddList" resultType="kr.qtorder.model.FesAddListVO">
		SELECT * FROM tb_join_list
	</select>
	
	<delete id="deleteList" parameterType="kr.qtorder.model.FesAddListVO">
		DELETE FROM tb_join_list
		WHERE list_idx = #{list_idx};
	</delete>
</mapper>