<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.qtorder.db.FoodTruckMapper">
	
	<select id="selectFoodTruck" resultType="kr.qtorder.model.FoodTruckVO">
		SELECT * FROM tb_foodtruck
	</select>
	
	<insert id="insert_business" parameterType="kr.qtorder.model.BusinessVO">
		insert into tb_foodtruck (ft_name, ft_tel, ft_owner, ft_bno, ft_pw) values (#{ft_name},#{ft_tel},#{ft_owner},#{ft_bno},#{ft_pw});
	</insert>

	<select id="login_check" parameterType="kr.qtorder.model.BusinessVO" resultType="kr.qtorder.model.BusinessVO">
	    	select * from tb_foodtruck where ft_bno = #{ft_bno} and ft_pw=#{ft_pw};
	</select>

</mapper>